.container
  .row
    .col-xs-6
      .card
        .title
          %h3 Vista para agregar imagenes
        .dotted-border.text-center
          .load-image
            %h3 Arrastra รณ
            %button Selecciona tus imagenes
            = simple_form_for @image, html: { multipart: true } do |f|
              .input-photo
                = f.input :photo, as: :file
              .submit-btn

        .save-button
          %button Guardar Cambios

  .row
    .col-xs-6
      -@all_images.each do |image|
        .card
          .dotted-border.text-center
            .loaded-image
              .my_image
                =image_tag image.photo.url(:small)
                / =link_to "Destroy", image, method: :delete
              .options.hidden
                %button Agregar descripcion
                %button Eliminar elemento
          .save-button
            %button Guardar Cambios


