.container
  .row
    .col-xs-6
      .card
        .title
          %h3 Vista para agregar imagenes
        .dotted-border.text-center
          .load-image
            %h3 Arrastra รณ
            %button Selecciona tus imagenes
        .save-button
          %button Guardar Cambios

