.container
  .row
    .col-xs-6
      .card
        .title
          %h3 Vista para agregar imagenes
        .dotted-border.text-center
          .load-image
            %h3 Arrastra ó
            %button Selecciona tus imagenes
            = simple_form_for @image, html: { multipart: true } do |f|
              .input-photo
                = f.input :photo, as: :file
                =f.submit
              .submit-btn

        .save-button
          %button Guardar Cambios

  .row
    .col-xs-6
      -@all_images.each do |image|
        .card
          -if !image.title.blank?
            %h4
              .my-title=image.title
          .dotted-border.text-center
            .loaded-image
              .my_image
                =image_tag image.photo.url(:small)
              .options-image.hidden
                %h4 Estas seguro que quieres eliminar la imagen?
                .two-buttons
                  =link_to "Si, eliminar", image, method: :delete, :class => "delete_button"
                  %button.exit-btn No, cancelar,
              .options.hidden
                .btn{"href" => "#titleModal", "role" => "button", "data-toggle" => "modal"}
                  %button Agregar descripción
                %button.delete-btn Eliminar elemento
          .save-button
            %button Guardar Cambios
        //Modal para editar el titulo de la imagen

        .modal.fade.modal-fade#titleModal
          .modal-dialog
            .modal-content
              .modal-sm.text-center
                .modal-header
                  %h4 Escribe un titulo para tu imagen
                .modal-body
                  = simple_form_for image, html: { multipart: true } do |f|
                    = f.input :title, as: :text
                    =f.submit "Agregar titulo", :class => "btn btn-default"
                .modal-footer
                  %button.btn.btn-danger{"data-dismiss" => "modal", "aria-hidden" => "true"}
                    %p Cerrar

/ .modal.fade.modal-fade
/   .modal-dialog
/     .modal-content
/       .modal-header
/         %button.close{type:'button', data:{dismiss:'modal'}}
/           %span{aria:{hidden:'true'}}
/             %i.fa.fa-close
/           %span.sr-only Close
/         %h4.modal-title
/           This is my title
/       .modal-body
/         %h3 Alberto
/       .modal-footer
/         %button.btn.btn-default{type:'button', data:{dismiss:'modal'}} Close
/         %button.btn.btn-primary{type:'button', data:{dismiss:'modal'}} Save




