.container
  .row
    .col-xs-6
      .card
        .title
          %h3 Vista para agregar imagenes
        .dotted-border.text-center
          .load-image
            %h3 Arrastra รณ
            %button Selecciona tus imagenes
            = simple_form_for @image, html: { multipart: true } do |f|
              .input-photo
                = f.input :photo, as: :file
                =f.submit
              .submit-btn

        .save-button
          %button Guardar Cambios

  .row
    .col-xs-6
      -@all_images.each do |image|
        .card
          .dotted-border.text-center
            .loaded-image
              .my_image
                =image_tag image.photo.url(:small)
              .options-image.hidden
                %h4 Estas seguro que quieres eliminar la imagen?
                .two-buttons
                  =link_to "Si, eliminar", image, method: :delete, :class => "delete_button"
                  %button.exit-btn No, cancelar,
              .options.hidden
                %button Agregar descripcion
                %button.delete-btn Eliminar elemento
          .save-button
            %button Guardar Cambios


