.container
  .row
    .col-xs-6
      .card
        .image-one
          =image_tag "https://www.nyip.edu/images/cms/courses/course-img/dk-lg.jpg"
        .image-two
          =image_tag "https://www.reduceimages.com/img/image-after.jpg"
        .image-three
          =image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Xa273yAlo8msMeoLIsY5YwMllxq_D0usBaxvv5z5tIrv7Bpc"

        .title
          %h3 Vista imagenes sobre contenedor
        .dotted-border.text-center
          .load-image
            %h3 Arrastra รณ
            %button Selecciona tus imagenes
        .save-button
          %button Guardar Cambios
